<!-- This file is no longer used. Keep until finishing all work.
extends layout

block content
  h1= title
  p Welcome to #{title} -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap" rel="stylesheet">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a class="header-logo" href="/">LISUTO APURI</a>
    </header>
    <div class="container">
      <!-- container-header -->
      <div class="row align-items-center mx-auto" style="text-align: center;">
        <div class="col-9">
          <h1><%= title %></h1>
        </div> 
        <div class="col-3">
          <a class="btn btn-add" href="index/add">Add</a>
        </div>
      </div>
      
      <% if(action == 'add') { %>
        <div class="card-header">Form</div>
        <div class="card-cody">
          <form method="POST" action="/index/add_data">
            <label>Name</label>
              <input type="text" name="name" id="name" />
          </form>
        </div>

      <% } else { %>
        <div class="index-table-wrapper">
          <div class="table-head">
            <span class="id-column">＃</span>
            <span>Value</span>
          </div>
          <ul class="table-body">
            <%
            if(items.length > 0)
            {
              items.forEach(function(item) {
            %>
              <li>
                <span class="id-column">
                  <%= item.id %>
                </span>
                <span class="name-colmn">
                  <%= item.name %>
                </span>
              </li>
            <%
              });
            }
            else
            {
            %>
          </ul>
          <div>
            <p>No Data Found</p>
          </div>
          <% } %>
          </ul>
        </div>
      <% } %>
    </div>
  </body>
</html>