
<!-- This file is no longer used. Keep until finishing all work.
extends layout

block content
  h1= title
  p Welcome to #{title} -->
  
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap" rel="stylesheet">
    <script src="/send_url.js"></script>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a class="header-logo">LIST APP</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>買い物リスト</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">ID</span>
          <span>買うもの</span>
        </div>
        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <span class="id-column">
                <%= item.id %>
              </span>
              <span class="name-column">
                <%= item.name %>
              </span>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>